.Footer{
    width: 100vw;
    background-color: rgba(59, 113, 182, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: skyblue;
}
.iconContainer,.footerNav{
    width: 80%;
    border-bottom: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 0.5rem;
}
.iconContainer>div{
    background-color: transparent;
    color: white;
    padding: 0.5rem;
    border-radius: 100%;
    width: 2rem;
    height: 2rem;
    text-align: center;
}
.iconContainer>div:hover{
    background-color: white;
    color: rgba(59, 113, 182, 1);
}

.details{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 0.5rem 0;
}
.details >div{
    flex: 1;
    font-size: 0.7rem;
}
.details >div>span>p{
    margin-bottom: 0.5rem;
}

.rights{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    flex-direction: column;
    gap: 1rem;
}
.footerNav{
    border: none;
    justify-content: space-around;
    padding: 1rem;
    color: white;
}
.footerNav a{
    color: white;
    text-decoration: none;
}
.footerNav a:hover{
    color: skyblue;
}